# History files
.Rhistory

# Example code in package build process
*-Ex.R
logs/
cache/
graphs/
data/*.mat
data/agdata
data/*.RData
.Rproj.user
charity-error-debug*.txt
debug*.txt
/data/*.RData
/data/*.Rbin
.Rproj.user
charity-error*.txt
*.Rout
*.mat
*.gml
*.Rdata
